<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devoops.rentalbrain.product.productlist.query.mapper.ItemMapper">
    <resultMap id="getEachItemMap" type="com.devoops.rentalbrain.product.productlist.query.dto.EachItemDTO">
        <id property="id" column="ID"/>
        <result property="status" column="STATUS"/>
        <result property="firmName" column="FIRMNAME"/>
        <result property="startDate" column="START_DATE"/>
        <result property="lastInspectDate" column="LAST_INSPECT_DATE"/>
    </resultMap>
    <select id="selectAllItems" resultMap="getEachItemMap" parameterType="string">
        SELECT
               A.ID,
               A.STATUS,
               E.NAME AS FIRMNAME,
               C.START_DATE,
               A.LAST_INSPECT_DATE
          FROM item A
          LEFT JOIN contract_with_item B ON A.ID = B.ITEM_ID
          LEFT JOIN contract C ON B.CONTRACT_ID = C.ID AND C.STATUS = 'P'
          LEFT JOIN item_overdue D ON B.CONTRACT_ID = D.CONTRACT_ID AND D.STATUS = 'P'
          LEFT JOIN customer E ON (C.CUM_ID = E.ID OR D.CUM_ID = E.ID)
         WHERE A.NAME = #{itemName}
    </select>
</mapper>